body{
    background-image: linear-gradient(to left top, #11f1e5, #00e2ff, #20ccff, #9dafff, #dd8de7);
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}
.container{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}
#seller{
    margin-right: 1.5rem;
    padding: 0.50rem 2rem;
    background-color: linear-gradient(to left top, #11f1e5, #00e2ff, #20ccff, #9dafff, #dd8de7);
    border-style: none;
    border-radius: 5px;
    color: black;
}
#buyer{
    padding: 0.50rem 2rem;
    background-color: #ffffff;
    border-style: none;
    border-radius: 5px;
}
.buttons{
    display: inline;
    width: auto;
}
.buttons:hover{
    cursor: pointer;
    padding: 2rem 8rem; 
}
#Welcome{
    font-size: 4rem;
    margin-bottom: 0;
}
#iam{
    font-size: 2rem;
}